<head>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9656900277000115"
    crossorigin="anonymous"
  ></script>
  <meta name="google-adsense-account" content="ca-pub-9656900277000115" />
</head>

<div class="container mt-5" id="calcular-custo-irrigacao">
  <h1 class="text-primary text-center fw-bold">
    Calculadora de Consumo Hídrico
  </h1>
  <p class="text-center">
    Insira as informações para calcular o consumo hídrico de sua lavoura.
  </p>

  <div class="card shadow p-4 mx-auto" style="max-width: 500px">
    <form #form="ngForm">
      <div class="mb-3">
        <label for="area" class="form-label fw-bold">Área Cultivada</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="area"
            [(ngModel)]="area"
            name="area"
            placeholder="Digite a área"
            (input)="formatarArea()"
          />
          <select
            class="form-select"
            [(ngModel)]="unidadeArea"
            name="unidadeArea"
          >
            <option value="selecione">Selecione</option>
            <option value="m2">m²</option>
            <option value="hectares">Hectares (ha)</option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label for="tipoSolo" class="form-label fw-bold">Tipo de Solo</label>
        <select id="tipoSolo" class="form-select" #tipoSolo>
          <option value="selecionar">Selecionar</option>
          <option value="arenoso">Arenoso</option>
          <option value="argiloso">Argiloso</option>
          <option value="siltoso">Siltoso</option>
          <option value="humoso">Humoso</option>
          <option value="calcário">Calcário</option>
          <option value="salino">Salino</option>
          <option value="outro">Outro</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="categoria" class="form-label fw-bold">Categoria</label>
        <select
          id="categoria"
          class="form-select"
          [(ngModel)]="categoriaSelecionada"
          name="categoria"
          (change)="atualizarCulturas()"
        >
          <option value="">Selecione</option>
          <option value="frutas">Frutas</option>
          <option value="hortalicas">Hortaliças</option>
          <option value="graos">Grãos</option>
          <option value="legumes">Legumes</option>
          <option value="verduras">Verduras</option>
          <option value="outros">Outros</option>
        </select>
      </div>

      <div class="mb-3" *ngIf="culturasDisponiveis.length > 0">
        <label for="cultura" class="form-label fw-bold">Cultura</label>
        <select id="cultura" class="form-select" [(ngModel)]="culturaSelecionada" name="cultura">
          <option value="">Selecionar</option>
          <option *ngFor="let item of culturasDisponiveis" [value]="item">
            {{ item }}
          </option>
        </select>
        
      </div>

      <button
        type="button"
        class="btn btn-primary w-100"
        (click)="calcularNecessidadeHidrica()"
      >
        Calcular
      </button>
    </form>

    <!-- Exibição dos Resultados -->
    <div class="result-container mt-4 p-3 text-center" *ngIf="resultLitros">
      <h5 class="text-success">{{ resultLitros }}</h5>
      <h5 class="text-danger">{{ resultCusto }}</h5>
    </div>
  </div>
</div>
