.container {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilização das seções */
.projeto-descricao p {
  font-size: 1.2rem; /* Aumento do tamanho da fonte */
  line-height: 1.8; /* Espaçamento maior entre as linhas */
  color: #333;
  text-align: justify;
}

/* Título da Seção */
.secao-titulo {
  text-align: left;
  font-size: 1.8rem; /* Aumento do tamanho dos títulos */
  font-weight: bold;
  color: #007bff;
  display: block;
  margin-top: 15px;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
      padding: 20px;
  }

  .projeto-descricao p {
      font-size: 1.2rem; /* Ajuste para telas menores */
  }

  .secao-titulo {
      font-size: 1.4rem;
  }
}