<head>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9656900277000115"
    crossorigin="anonymous"
  ></script>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-9NW0GY9QLQ"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-9NW0GY9QLQ");
  </script>
</head>
<div class="container mt-5" id="sobre">
  <h1 class="text-center text-primary fw-bold">Sobre o Projeto</h1>

  <div class="projeto-descricao">
    <p>
      📌 <strong>Resumo do Projeto – IrrigaCalc:</strong> Calculadora de Consumo
      Hídrico para Lavouras 🌱💧
    </p>
    <p>
      <span class="secao-titulo">📍 Introdução</span><br />
      O IrrigaCalc é uma solução simples desenvolvida por
      <strong>Gustavo Koglin</strong> para seu Projeto de Extensão no 4º
      Semestre do curso de
      <strong>Engenharia de Software da faculdade Anhanguera</strong>. O
      objetivo é ajudar produtores rurais e empresas agrícolas a calcular com
      precisão o consumo hídrico das lavouras. O projeto utiliza dados
      científicos da <strong>Embrapa</strong>, considerando diferentes tipos de
      solo e culturas agrícolas.
    </p>

    <p>
      <span class="secao-titulo">📍 Objetivo do Projeto</span><br />
      ✔ Auxiliar produtores no uso eficiente da água na irrigação.<br />
      ✔ Reduzir desperdícios e otimizar o custo da irrigação.<br />
      ✔ Promover práticas sustentáveis na agricultura.<br />
      ✔ Oferecer uma ferramenta digital intuitiva e acessível para cálculos
      hídricos.
    </p>

    <p>
      <span class="secao-titulo">📍 Funcionalidades da Aplicação</span><br />
      ✅ Cálculo do volume de água necessário.<br />
      ✅ Seleção de unidade de medida (m² ou hectares).<br />
      ✅ Conversão automática entre litros e metros cúbicos.<br />
      ✅ Estimativa do custo da irrigação.<br />
      ✅ Interface intuitiva e responsiva.
    </p>

    <p>
      <span class="secao-titulo">📍 Tecnologias Utilizadas</span><br />
      🔹 <strong>Frontend:</strong> Angular (v22), Bootstrap, SCSS.<br />
      🔹 <strong>Cálculo:</strong> Baseado em dados da Embrapa.<br />
      🔹 <strong>Metodologia:</strong> PDCA para melhoria contínua.
    </p>

    <p>
      <span class="secao-titulo">📍 Benefícios para Empresas e Produtores</span
      ><br />
      💧 Eficiência no uso da água.<br />
      💰 Redução de custos.<br />
      🌱 Sustentabilidade na agricultura.<br />
      📈 Tomada de decisão estratégica.
    </p>

    <p>
      <span class="secao-titulo">📍 Parcerias e Expansão</span><br />
      O IrrigaCalc pode ser implementado por empresas agrícolas, cooperativas e
      órgãos ambientais. Futuramente, poderá integrar sensores IoT e
      inteligência artificial para automação da irrigação.
    </p>
  </div>
</div>
