<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9656900277000115"
    crossorigin="anonymous">
  </script>
  <meta name="google-adsense-account" content="ca-pub-9656900277000115">
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-9NW0GY9QLQ"
  ></script>
</head>
<div class="container mt-5" id="contato">
  <h1>Contato</h1>
  <p>
    Em caso de dúvidas ou sugestões, por favor entre em contato:<br />
    pelo e-mail ou WhatsApp:
  </p>
  <p><a href="mailto:contato@devgustavokoglin.com.br" class="email-link">
    contato&#64;devgustavokoglin.com.br
  </a></p>
  <p>
    <strong>Telefone | WhatsApp: </strong><br>
    <a
      href="https://api.whatsapp.com/send/?phone=%2B5566981055829&text"
      target="_blank"
      >+55 (66) 9.8105-5829</a
    >
  </p>
  <p>
    <strong>LinkedIn: </strong><br>
    <a href="https://www.linkedin.com/in/gustavokoglin" target="_blank"
      >https://www.linkedin.com/in/gustavokoglin</a
    >
  </p>
</div>
