<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9656900277000115"
    crossorigin="anonymous">
  </script>
  <meta name="google-adsense-account" content="ca-pub-9656900277000115">
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-9NW0GY9QLQ"
  ></script>
</head>
<div class="container mt-5" id="contato">
  <h1>{{ 'CONTACT.TITLE' | translate }}</h1>
  <p>
    {{ 'CONTACT.SUBTITLE' | translate }}<br />
    {{ 'CONTACT.VIA' | translate }}
  </p>
  <p><a href="mailto:contato@devgustavokoglin.com.br" class="email-link" 
    target="_blank" rel="noopener noreferrer">
    contato&#64;devgustavokoglin.com.br
  </a></p>
  <p>
    <strong>LinkedIn: </strong><br>
    <a href="https://www.linkedin.com/in/gustavokoglin" 
    target="_blank" rel="noopener noreferrer">
      https://www.linkedin.com/in/gustavokoglin</a
    >
  </p>
</div>
