<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="'/'" rel="noopener noreferrer">IrrigaCalc</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isMenuOpen = !isMenuOpen"
      [class.open]="isMenuOpen"
    >
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [href]="'#inicio'" rel="noopener noreferrer">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="'#sobre'" rel="noopener noreferrer">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="'#contato'" rel="noopener noreferrer">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="'#calcular-custo-irrigacao'" 
          rel="noopener noreferrer"
            >Calculadora</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
